body {
    font-family: Georgia, serif;
    font-size: 18px;
    line-height: 20px;
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */

}

#name{
    font-size: 32px;
    font-style:oblique;
    line-height: 36px;
    margin-bottom: 25px;
}

.linksbox{
    margin-top: 10px;
    line-height: 36px;
}

.headline{
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 20px;
}

.content-header{
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 10px;
    font-style: oblique;
}

#footer{
    margin-top: 10px;
    font-size: 14px;
}
