body {
    font-family: Georgia, serif;
    font-size: 18px;
    line-height: 20px;
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
    padding-left: 50px;
/*    background-color: #708090 */

}

#name{
    font-size: 32px;
    font-style:oblique;
    line-height: 36px;
    margin-bottom: 25px;
}

.linksbox{
    margin-top: 10px;
    line-height: 36px;
}

.headline{
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 10px;
}

.content-header{
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 10px;
    font-style: ;
    padding-top: 20px;
}

#footer{
    margin-top: 10px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 50px;
}

#please-comment{
    margin-top: 10px;
    font-size: 16px;
    padding-top: 10px;
}

.post_type{
    font-size: 12px;
    text-transform: lowercase;
    display: inline;
    font-style: italic;
    width: 60px;
    float: left;
}
#list_title{
    font-size: 18px;
    line-height: 22px;
    display: inline;
}

#post_title{
    font-size: 20px;
    line-height: 24px;
    display: inline;
}

#post{
    font-size: 18px;
    line-height: 24px;
    width: 600px;
    text-indent:0px;
}

#about{
    font-size: 18px;
    line-height: 24px;
    width: 500px;
    text-indent:0px;
}
.top_title{
    display: inline;
}