<!-- TODO: Related? Comments? -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title> Andrey Fradkin - {{ page.title }}</title>
    
    <link type="text/css" rel="stylesheet" media="all" href="/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="/css/default.css"/>
    <link rel="alternate" type="application/atom+xml" title="Feed" href="/posts/atom.xml" />
  
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span7">
          <h4 id="name">
              <span class="primary-name">
                  <div class="top_title"> 
                    <a href="/">Andrey Fradkin</a>
                  </div>  
              </span>
          </h4>
        </div>
        <div class="span4 offset">
          <div class="linksbox">
            <a href="about.html">Research</a> &mdash;
            <a href="about.html">Posts</a> &mdash;
            <a href="about.html">About</a> &mdash;
            <a href="/assets/curriculumvitae.pdf">CV</a>
          </div>
        </div>
      </div>

      <h2> <div id="post_title"> {{ page.title }} </div> </h2>
    
      <div id="post">
            {{ content }}
      </div>

      
      <div id="footer">
        <a href="http://papers.ssrn.com/sol3/cf_dev/AbsByAuth.cfm?per_id=1645774">SSRN</a> /
        <a href="https://github.com/asquidy">Github</a> /
        <a href="http://www.quora.com/Andrey-Fradkin">Quora</a> / 
        <a href="https://twitter.com/AndreyFradkin">@AndreyFradkin</a> /
        afrad (at) stanford (dot)  edu 
      </div>
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      
      // TODO: Google Analytics
      // _gaq.push(['_setAccount', 'UA-5833716-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>