<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Andrey Fradkin - {{ page.title }}</title>
    
    <link type="text/css" rel="stylesheet" media="all" href="/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="/css/default.css"/>
    <link rel="alternate" type="application/atom+xml" title="Feed" href="/posts/atom.xml" />
  
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span7">
          <h4 id="name">
              <span class="primary-name">
                  <a href="/">Andrey Fradkin</a> 
              </span>
          </h4>
        </div>
        <div class="span3 offset2">
          <div class="linksbox">
            <a href="/about">About</a> &mdash;
            <a href="/cv">CV</a>
          </div>
        </div>
      </div>

      {{ content }}
      
      <div id="footer">
        <a href="/concepts">Concepts</a> &mdash;
        <span class="nav_current">Notes</span> &mdash;
        <a href="https://github.com/maxhodak/">Code</a> &copy; 2013
      </div>
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      
      // TODO: Google Analytics
      // _gaq.push(['_setAccount', 'UA-5833716-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>