<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Jan Overgoor {{ page.title }}</title>
    
    <link type="text/css" rel="stylesheet" media="all" href="/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="/css/default.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="/css/pygments/default.css"/>

    <link rel="alternate" type="application/atom+xml" title="Feed" href="/posts/atom.xml" />
  
  </head>
  <body>
    nothing here...
  </body>
</html>